@import "tailwindcss";

@font-face {
    font-family: "Sofia";
    src: url("/fonts/Sofia-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 300 950;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-Sofia: "Sofia", sans-serif;
    --font-Poppins: "Poppins", sans-serif;

    --color-cream: #fff8e1;
}

button {
    cursor: pointer;
}

/* body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #fffaf0, #ffedd5);
} */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #fffdf7 0%, #fffbee 100%);
}


/* main className="flex-1 h-screen overflow-y-auto bg-[url('https://www.transparenttextures.com/patterns/cubes.png')] bg-fixed"> */