@import "tailwindcss";

@font-face {
    font-family: "Sofia";
    src: url("/fonts/Sofia-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 300 950;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-Sofia: "Sofia", sans-serif;
    --font-Poppins: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
}